#code{
    background:#2b2b2b;
    color: white;
    overflow-y:scroll;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
    tab-size: 4;
}

::-webkit-scrollbar {
width: 13px;
height: 13px;
}
::-webkit-scrollbar-thumb {
background: #808080;
border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
}
::-webkit-scrollbar-track{
background: #1c1c1c;
border-radius: 10px;
}